<!DOCTYPE html>
<html lang="en">
    <!-- INLUCDE THE HEADER IN THE PAGE.-->
    <head>
      <link rel="stylesheet" href="/styling/main/custom-style.css">
    </head>
    <%- include(headerPath, {
      bot, path,
      description: 'View and Manage your Servers Infractions and Cases',
      description2: 'View and Manage your Servers Infractions and Cases',
      title: `Tox Mod | Dashboard - Actions`,
      main_title: `Tox Mod | Dashboard - Actions`,
      image: 'none',
      }) 
    %>
    <!-- START THE ACTUAL PAGE BODY.. YEET. -->

    <%- include(navbarPath, { bot, user, path }) %>

    <% if (alert) { %>
      <%- include(notifyAlerts, {alert}) %>
    <% } else if (error) { %>
      <%- include(notifyAlerts, {error}) %>
    <% } %>
    <body>

    <!-- INCLUDE THE NAVBAR IN THE PAGE. -->
    <div class="bigthingy row">
      <div class="seeme col-md-8 offset-md-2 row">
        <div class="seeme col-sm-2 sinfo">
          <p id="bigytxt" class="bigyimg"><img src="/images/ToxModLogo.gif" style="width:88px; border-radius:50%;"/></p>
        </div>
        <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Tox Mod</span><br /><span class="typed"></span></p>
        </div>
      </div>
    </div>
      <br />

    <%- include(navbarPath, { bot, user, path }) %>

      <center>
        <h1 style="color: rgb(0, 102, 255);"><strong>Server Actions!</strong></h1>
        <h4 style="color: white;"><strong>Server cases!</strong></h4>
        </form>
        <form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
          <div class="container">
            <br><br>
            <div class="column">
              <center>
                <p class="has-text-white title is-large"><i class="fa fa-gavel has-text-danger"></i>&nbsp;Global Infractions</p>
              </center>
                <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
        <% if(cases.length === 0){ %>
          <img src="https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-256.png" style="width: 70px;">
          <p style="font-size: 20px; color: white">No infractions for this server</p><br>
          <% }else{ %>
            <% for (i = 0; i < cases.length; i++) { %>
              <% bot.users.fetch(cases[i].userID) %>
                <% } %>
            <% for (i = 0; i < cases.length; i++) { %>
                <% let reason = ''; %>
                <% let time = ''; %>
                <% let member = ''; %>
                <% let moderator = ""; %>
                <% let duration = ""; %>
                <% let server = ""; %>

                <% if(cases[i].reason == ''){ %>
                    <% reason = 'No reason Provided' %>
                    <% }else{ %>
                    <% reason = cases[i].reason %>
                    <% } %>

                <% if(cases[i].time == undefined){ %>
                    <% time = 'No time' %> 
                    <% }else{ %>
                        <% time = cases[i].time %>
                    <% } %>

                    <% if(bot.guilds.cache.get(cases[i].serverID)){ %>
                       <% server = bot.guilds.cache.get(cases[i].serverID).name %>
                    <% }else{ %>
                      <% server = "Can't get the guild!" %>
                    <% } %>

                    <% if(bot.users.cache.get(cases[i].Moderator)){ %>
                        <% moderator = bot.users.cache.get(cases[i].Moderator).tag %>
                        <% }else{ %>
                            <% moderator = "Wasn't defined at this time" %>
                        <% } %>

                        <% if(bot.users.cache.get(cases[i].userID)){ %>
                        <% member = bot.users.cache.get(cases[i].userID).tag %>
                        <% }else{ %>
                            <% member = "Error occured" %>
                        <% } %>

                        <% if(cases[i].duration == undefined){ %>
                          <% duration = 'No duration set for that action!' %> 
                          <% }else{ %>
                              <% duration = cases[i].duration %>
                          <% } %>

                          <div class="col-md-6 col-lg-4 pb-3">
                            <div data-aos="fade-left">
                            <div class="card tox-card-custom bg-tox border-white border-0">
                              <div class="card-body">
                               <div class="is-pulled-right mt-tox mt-1">
                                <span data-tooltip="Total Votes" data-tooltip-location="left" class="badge badge-stats mb-tox mt-1 w-100"><i class="fa fa-exclamation-circle has-text-danger"></i>&nbsp; Case: #<%= cases[i].case %></span>
                                  </div>
                                <h4 translate="no" class="card-title">Action: <strong><%= cases[i].action %></strong></h4>
                                <p translate="no" class="card-text toxbotDesc">
                                  <code>Moderator: <strong><%= moderator %></strong></code>
                                  <br />
                                  <code>Reason: <strong><%= reason %></strong></code>
                                  <br />
                                  <code>Time: <strong><%= time %></strong></code>
                                </p>
                              </div>
                              <div class="card-footer">
                                <p>Server: <strong><%= server %></strong></p>
                                <button style="width:170px; color: rgb(247, 91, 91);" name="deletecase" value="<%= cases[i].case %>" type="submit">Delete</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% } %>
                    <% } %>
                  </div>
              </div>
            </div>
        </form>
      <a class="btn btn-info" style="color: white; margin-left: 22px;"  href="/dashboard/guilds/<%= guild.id %>">Back to dashboard</a>
    </center>
</body>

<script>
  var typed = new Typed('.typed', {
    strings: [
              "The Discord Bot with a little bit of Attitude!",
              "Making it Easier to Moderate your Server since 2020"
            ],
    typeSpeed: 80,
    backSpeed: 70,
    loop: true,
    backDelay: 3000,
    contentType: 'html'
  });
  </script>

 <br><br><br><br><br><br>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath, { bot, path }) %>
</html>