<!DOCTYPE html>
<html lang="en">
    <!-- INLUCDE THE HEADER IN THE PAGE.-->
    <head>
      <link rel="stylesheet" href="/styling/main/custom-style.css">
    </head>
    <%- include(headerPath, {
      bot, path,
      description: 'Manage your Guild, Update the Bots Settings and more with the Tox Mod Dashboard',
      description2: 'Manage your Guild, Update the Bots Settings and more with the Tox Mod Dashboard',
      title: `Tox Mod | Dashboard`,
      main_title: `Tox Mod | Dashboard`,
      image: 'none',
      }) 
    %>
    <!-- START THE ACTUAL PAGE BODY.. YEET. -->
    <body>

    <!-- INCLUDE THE NAVBAR IN THE PAGE. -->
    <div class="bigthingy row">
      <div class="seeme col-md-8 offset-md-2 row">
        <div class="seeme col-sm-2 sinfo">
          <p id="bigytxt" class="bigyimg"><img src="https://toxmod.xyz/images/5D72D446-8F49-43B2-8924-A2E1CA45AC01.gif" style="width:88px; border-radius:50%;"/></p>
        </div>
        <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Tox Mod</span><br /><span class="typed"></span></p>
        </div>
      </div>
      </div>
      <br />

    <%- include(navbarPath, { bot, user, path }) %>

    <div class="container">
      <br><br>
    <div class="column">
        <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
          <% for(i of guilds){%>
          <div class="col-md-6 col-lg-4 pb-3">
            <div class="card ibl-card-custom bg-ibl border-white border-0">
              <div class="ibl-card-custom-img" style="background-image: url(<%= i.guild.banner || "https://i.hizliresim.com/2sdunq.png" %>);"></div>
              <div class="ibl-card-custom-avatar">
                <img class="img-fluid" onerror="imgError(this);" src="https://cdn.discordapp.com/icons/<%= i.guild.id %>/<%= i.guild.icon %>.png?size=256" alt="Avatar" />
              </div>
              <div class="card-body">
                <h4 translate="no" class="card-title"><%= i.guild.name %></h4>
                <p translate="no" class="card-text iblbotDesc">You can Edit, Change or Update most of this Guilds Settings here.</p>
              </div>
              <div class="card-footer">
                <% if (bot.guilds.cache.get(i.guild.id)) { %>
                <center>
                  <a ic style="width:165px;" class="btn btn-secondary" href="/dashboard/guilds/<%= i.guild.id %>"><i class="fa fa-tachometer"></i>  Manage Server</a>
                </center>
                <% } else { %>
                <center>
                  <a style="width:150px;" class="btn btn-secondary"  target="_blank" href="https://discord.com/oauth2/authorize?client_id=<%= bot.user.id %>&disable_guild_select=true&permissions=268438576&scope=bot&guild_id=<%= i.guild.id %>"><i class="fa fa-plus"></i> Add Bot</a>
                </center>
                  <% } %>
              </div>
            </div>
          </div>
        <% } %>
      </div>
    </div>
  </div>
</body>

<script>
  var typed = new Typed('.typed', {
    strings: [
              "The Discord Bot with a little bit of Attitude!",
              "Making it Easier to Moderate your Server since 2020"
            ],
    typeSpeed: 80,
    backSpeed: 70,
    loop: true,
    backDelay: 3000,
    contentType: 'html'
  });
  </script>

 <br><br><br><br><br><br>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath, { bot, path }) %>
</html>