<!DOCTYPE html>
<html lang="en">
    <!-- INLUCDE THE HEADER IN THE PAGE.-->
    <head>
      <link rel="stylesheet" href="/styling/main/custom-style.css">
    </head>
    <%- include(headerPath, {
      bot, path,
      description: 'Configure the Role settings for your Guild',
      description2: 'Configure the Role settings for your Guild',
      title: `Tox Mod | Dashboard - Roles`,
      main_title: `Tox Mod | Dashboard - Roles`,
      image: 'none',
      }) 
    %>
    <!-- START THE ACTUAL PAGE BODY.. YEET. -->

    <%- include(navbarPath, { bot, user, path }) %>

    <% if (alert) { %>
      <%- include(notifyAlerts, {alert}) %>
    <% } else if (error) { %>
      <%- include(notifyAlerts, {error}) %>
    <% } %>
    <body>

    <!-- INCLUDE THE NAVBAR IN THE PAGE. -->
    <div class="bigthingy row">
      <div class="seeme col-md-8 offset-md-2 row">
        <div class="seeme col-sm-2 sinfo">
          <p id="bigytxt" class="bigyimg"><img src="/images/ToxModLogo.gif" style="width:88px; border-radius:50%;"/></p>
        </div>
        <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Tox Mod</span><br /><span class="typed"></span></p>
        </div>
      </div>
    </div>
      <br />

    <%- include(navbarPath, { bot, user, path }) %>

    <div class="faq">
      <center>
        <h1><strong>Add mute role for server</strong></h1>
<form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
  <% let therole = settings.mutedrole %>
  <% if(therole == "String"){ %> 
    <%  therole = "None" %> 
    <% }else{ %>
      <% if(!guild.roles.cache.get(settings.mutedrole)){ %>
        <% therole = "None" %>
        <% }else{ %>
    <% therole = guild.roles.cache.get(settings.mutedrole).name %>
    <% } %>
    <% } %>
  <h3>The currently muted role: <%= therole %></h3>
  <% if(guild.me.hasPermission("MANAGE_ROLES")){ %>
  <select class="select" name="muterolesettings" id="muterolesettings">
    <option value="<%= settings.mutedrole %>"><%= therole %></option>
    <option value="remove">None</option>
   <% guild.roles.cache.filter(r => r.id !== guild.id).sort((b, a) => b.position - a.position).map(role => { %>
    <option value="<%= role.id %>"><%= role.name %></option>
    <% }) %>
  </select>
  <% }else{ %>
    <p style="color: red">Bot is missing manage roles permissions! re add then try again</p>
    <% } %>
  <br>
  <br>
  <h1><strong>Add autorole for server</strong></h1>
<form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
  <% let theautorole = settings.autorole %>
  <% if(theautorole == "String"){ %> 
    <%  theautorole = "None" %> 
    <% }else{ %>
      <% if(!guild.roles.cache.get(settings.autorole)){ %>
        <% theautorole = "None" %>
        <% }else{ %>
    <% theautorole = guild.roles.cache.get(settings.autorole).name %>
    <% } %>
    <% } %>
  <h3>The currently auto role: <%= theautorole %></h3>
  <% if(guild.me.hasPermission("MANAGE_ROLES")){ %>
  <select class="select" name="autorole" id="autorole">
    <option value="<%= settings.autorole %>"><%= theautorole %></option>
    <option value="remove">None</option>
   <% guild.roles.cache.filter(r => r.id !== guild.id).sort((b, a) => b.position - a.position).map(role => { %>
    <option value="<%= role.id %>"><%= role.name %></option>
    <% }) %>
  </select>
  <% }else{ %>
    <p style="color: red">Bot is missing manage roles permissions! re add then try again</p>
    <% } %>
  <br>
  <br>
  <h1><strong>Add bot autorole for server</strong></h1>
  <form style="margin-top: 1em;" method="POST"> <!-- method="post" tiggers a POST request to the same url with the body of the form control inputs -->
    <% let botautorole = settings.botautorole %>
    <% if(botautorole == "String"){ %> 
      <%  botautorole = "None" %> 
      <% }else{ %>
        <% if(!guild.roles.cache.get(settings.botautorole)){ %>
          <% botautorole = "None" %>
          <% }else{ %>
      <% botautorole = guild.roles.cache.get(settings.botautorole).name %>
      <% } %>
      <% } %>
    <h3>The currently bot auto role: <%= botautorole %></h3>
    <% if(guild.me.hasPermission("MANAGE_ROLES")){ %>
    <select class="select" name="botautorole" id="botautorole">
      <option value="<%= settings.botautorole %>"><%= botautorole %></option>
      <option value="remove">None</option>
     <% guild.roles.cache.filter(r => r.id !== guild.id).sort((b, a) => b.position - a.position).map(role => { %>
      <option value="<%= role.id %>"><%= role.name %></option>
      <% }) %>
    </select>
    <% }else{ %>
      <p style="color: red">Bot is missing manage roles permissions! re add then try again</p>
      <% } %>
    <br>
    <br>
    <button style="width:170px" class="btn btn-success" type="submit">Update</button>
  </form>
      <a class="btn btn-info" style="color: white; margin-left: 22px;"  href="/dashboard/guilds/<%= guild.id %>">Back to dashboard</a>
    </center>
    </div>
</body>

<script>
  var typed = new Typed('.typed', {
    strings: [
              "The Discord Bot with a little bit of Attitude!",
              "Making it Easier to Moderate your Server since 2020"
            ],
    typeSpeed: 80,
    backSpeed: 70,
    loop: true,
    backDelay: 3000,
    contentType: 'html'
  });
  </script>

 <br><br><br><br><br><br>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath, { bot, path }) %>
</html>
