<html>
<head>

    <link rel="stylesheet" href="/styling/main/custom-style.css">

    <%- include(headerPath, {
      bot, user, path,
      description: 'The Discord Bot with a little bit of Attitude!',
      description2: 'The Discord Bot with a little bit of Attitude!',
      title: 'Tox Mod | 500 - Internal Server Error',
      main_title: 'Tox Mod | 500 - Internal Server Error',
      image: 'none',
      }) 
    %>
</head>
<body>
  <%- include(navbarPath, { bot, user }) %>
  <div class="bigthingy row">
    <div class="seeme col-md-8 offset-md-2 row">
      <div class="seeme col-sm-2 sinfo">
        <p id="bigytxt" class="bigyimg"><img src="/images/ToxModLogo.gif" style="width:88px; border-radius:50%;"/></p>
      </div>
      <div class="seeme col-sm-10 sinfo">
        <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Tox Mod</span><br /><span class="typed"></span></p>
      </div>
    </div>
    </div>
    <br />

  <!-- <center>
    <div class="container">
      <h1 style="font-size: 75px;"><%= status %></h1>
      <p style="color: white;">This Error has been Sent to our Dev Team!</a></p>
      <div class="faq">
        <p style="color: white;"><code><%= body %></code></p>
        <br />
        <br>
        <center>
          <button class="btn btn-tag" style="border-color: #0EFF00; background-color: black; color: white;" onclick="window.location.href = '/'"><i class="fa fa-home"></i> Take me Home!</button>
          <button class="btn btn-tag" style="border-color: #0EFF00; background-color: black; color: white;" onclick="window.location.href = '/bugs'"><i class="fa fa-home"></i> Report this error!</button>
          <button class="btn btn-tag" style="border-color: #0EFF00; background-color: black; color: white;" onclick="window.location.href = '/discord'"><i class="fa fa-home"></i> Contact my Devs!</button>
        </center>
      </div>  
    </div>
  </center> -->  

  <div class="container">
    <br /><br />
    <div class="container contact-form">
      <div class="contact-image">
        <i></i>
      </div>
        <h1><%= status %> - Internal Error</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label><i class="fa fa-comment-o"></i> This Error has been Sent to our Dev Team!</label>
                <p style="color: white;"><code><%= body %></code></p>
            </div>
            <button class="btn btn-tag" style="border-color: #0EFF00; background-color: black; color: white;" onclick="window.location.href = '/'"><i class="fa fa-home"></i> Take me Home!</button>
            <button class="btn btn-tag" style="border-color: #0EFF00; background-color: black; color: white;" onclick="window.location.href = '/bugs'"><i class="fa fa-home"></i> Report this error!</button>
          </div>
        </div>
    </div>
  </div>
</body>

<br><br><br><br><br><br>

<!-- RANDOM SCRIPT FOR THE NAVBAR STUFF -->
<script>
  var typed = new Typed('.typed', {
    strings: [
              "The Discord Bot with a little bit of Attitude!",
              "Making it Easier to Moderate your Server since 2020"
            ],
    typeSpeed: 80,
    backSpeed: 70,
    loop: true,
    backDelay: 3000,
    contentType: 'html'
  });
  </script>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath, { bot, user, path }) %>
</html>
