<!DOCTYPE html>
<html lang="en">
    <!-- INLUCDE THE HEADER IN THE PAGE.-->
    <head>
      <link rel="stylesheet" href="/styling/main/custom-style.css">
    </head>
    <%- include(headerPath, {
      bot, user, path,
      description: 'View a list of the Tox Mod Commands!',
      description2: 'View a list of the Tox Mod Commands!',
      title: 'Tox Mod | Commands',
      main_title: 'Tox Mod | Commands',
      image: 'none',
      }) 
    %>
    <!-- START THE ACTUAL PAGE BODY.. YEET. -->
    <body>
    <!-- INCLUDE THE NAVBAR IN THE PAGE. -->
    <div class="bigthingy row">
      <div class="seeme col-md-8 offset-md-2 row">
        <div class="seeme col-sm-2 sinfo">
          <p id="bigytxt" class="bigyimg"><img src="/images/ToxModLogo.gif" style="width:88px; border-radius:50%;"/></p>
        </div>
        <div class="seeme col-sm-10 sinfo">
          <p id="bigytxt"><span style="font-size:25px; font-weight:bold;">Tox Mod<sup> COMMANDS</sup></span><br /><span class="typed"></span></p>
        </div>
      </div>
      </div>
      <br />

    <%- include(navbarPath, { bot, user, path }) %>

  <!-- START THE INFORMATION COMMANDS -->
    <div class="container">
      <br><br>
      <div class="column">
        <p id="infocmds" class="has-text-white title is-large"><i class="fas fa-exclamation-circle"></i>&nbsp;Information Commands</p>
        <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
          <% bot.commands.filter(cmd => cmd.help.category == 'info').map(cmd => { %>
            <div class="col-md-6 col-lg-4 pb-3">
              <div class="card ibl-card-custom bg-ibl border-white border-0">
                <div class="card-body">
                  <h4 class="card-title"><strong>Name: </strong><%= cmd.help.name %></h4>
                  <hr style="background-color: white;">
                  <p class="card-text iblbotDesc">
                    <strong>Description:</strong> <code><%= cmd.help.description %></code>
                    <hr style="background-color: white;">
                    <strong>User Permissions:</strong> <code><%= cmd.requirements.userPerms %></code>
                    <br /><br />
                    <strong>Bot Permissions:</strong> <code><%= cmd.requirements.clientPerms %></code>
                    <br /><br />
                    <strong>Aliases:</strong> <code><%= cmd.help.aliases %></code>
                    <br /><br />
                    <strong>Cooldown:</strong> <code><%= cmd.limits.cooldown %></code>
                    <br /><br />
                    <strong>Ratelimit:</strong> <code><%= cmd.limits.rateLimit %></code>
                  </p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="container">
      <br><br>
      <div class="column">
        <p id="infocmds" class="has-text-white title is-large"><i class="fas fa-exclamation-circle"></i>&nbsp;Chat Commands</p>
        <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
          <% bot.commands.filter(cmd => cmd.help.category == 'chat').map(cmd => { %>
            <div class="col-md-6 col-lg-4 pb-3">
              <div class="card ibl-card-custom bg-ibl border-white border-0">
                <div class="card-body">
                  <h4 class="card-title"><strong>Name: </strong><%= cmd.help.name %></h4>
                  <hr style="background-color: white;">
                  <p class="card-text iblbotDesc">
                    <strong>Description:</strong> <code><%= cmd.help.description %></code>
                    <hr style="background-color: white;">
                    <strong>User Permissions:</strong> <code><%= cmd.requirements.userPerms %></code>
                    <br /><br />
                    <strong>Bot Permissions:</strong> <code><%= cmd.requirements.clientPerms %></code>
                    <br /><br />
                    <strong>Aliases:</strong> <code><%= cmd.help.aliases %></code>
                    <br /><br />
                    <strong>Cooldown:</strong> <code><%= cmd.limits.cooldown %></code>
                    <br /><br />
                    <strong>Ratelimit:</strong> <code><%= cmd.limits.rateLimit %></code>
                  </p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>

        <!-- START THE MODERATION COMMANDS -->
        <div class="container">
          <br><br>
          <div class="column">
            <p id="modcmds" class="has-text-white title is-large"><i class="fa fa-gavel"></i>&nbsp;Moderation Commands</p>
            <div class="columns is-multiline is-desktop is-variable is-7 pt-5">
              <% bot.commands.filter(cmd => cmd.help.category == 'mod').map(cmd => { %>
                <div class="col-md-6 col-lg-4 pb-3">
                  <div class="card ibl-card-custom bg-ibl border-white border-0">
                    <div class="card-body">
                      <h4 class="card-title"><strong>Name: </strong><%= cmd.help.name %></h4>
                      <hr style="background-color: white;">
                      <p class="card-text iblbotDesc">
                        <strong>Description:</strong> <code><%= cmd.help.description %></code>
                        <hr style="background-color: white;">
                        <strong>User Permissions:</strong> <code><%= cmd.requirements.userPerms %></code>
                        <br /><br />
                        <strong>Bot Permissions:</strong> <code><%= cmd.requirements.clientPerms %></code>
                        <br /><br />
                        <strong>Aliases:</strong> <code><%= cmd.help.aliases %></code>
                        <br /><br />
                        <strong>Cooldown:</strong> <code><%= cmd.limits.cooldown %></code>
                        <br /><br />
                        <strong>Ratelimit:</strong> <code><%= cmd.limits.rateLimit %></code>
                      </p>
                    </div>
                  </div>
                </div>
              <% }) %>
            </div>
          </div>
        </div>

    <br><br><br><br><br><br>

    </body>

 <br><br><br><br><br><br>

    <!-- RANDOM SCRIPT FOR THE NAVBAR STUFF -->
    <script>
      var typed = new Typed('.typed', {
        strings: [
                  "The Discord Bot with a little bit of Attitude!",
                  "Making it Easier to Moderate your Server since 2020"
                ],
        typeSpeed: 80,
        backSpeed: 70,
        loop: true,
        backDelay: 3000,
        contentType: 'html'
      });
    </script>

    <!-- INCLUDE THE WEBSITE FOOTER -->
    <%- include(footerPath, { bot, user, path }) %>
</html>